body,
html {
  background: linear-gradient(135deg, #222831, #30271b, #634c2b);
  background-size: 400% 400%;

  animation: gradientFlow 8s ease infinite;

  font-family: Comfortaa;
  height: 100vh;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
