/* animation.css */

body,
html {
  /* CHANGED: Solid black background */
  background-color: #000000;

  font-family: Comfortaa;
  height: 100vh;
  /* Removed the old linear-gradient and animation properties */
}

/* NEW: Style the canvas to sit in the background */
#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
