* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
  overflow: hidden;
}

/*              Header           */
header {
  padding: 0 2rem;

  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 80px;
  letter-spacing: 1px;
  font-weight: bold;
  /* hr  */
  /* border-bottom: 1px solid #ccc; */
}

.header-left .logo-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#icon {
  width: 60px;
  height: 60px;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* These 4 lines center the nav */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-center nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header-center nav li {
  margin: 0 1rem;
}
.header-center nav a {
  text-decoration: none;
  color: #dfd0b8;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.nav-main {
  font-weight: bold;
  margin-bottom: 2px;
}
.nav-main a:hover {
  background-color: rgba(150, 135, 113, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(150, 135, 113, 0.6), 0 0 5px rgba(0, 0, 0, 0.1);
  color: #000;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/*              bottom header              */

#apple:hover {
  background-color: #fc3c44;
  border-radius: 15px;
  color: #c2cad7;
  text-decoration: underline;
}

#spotify:hover {
  background-color: #191414;
  border-radius: 10px;
  text-decoration-line: underline;
  color: #1ed760;
}

/* changes the text of Listen Live  */
#listen-live {
  color: #000000;
  background-color: #a38a2ece;
  border-radius: 5px;
  padding: 2px;
  font-weight: bold;
}

.header-right {
  margin-left: auto;
}
.header-right .auth-links a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 0.95rem;
}

.page-body {
  display: flex;
}

/*               Side Bar               */

.sidebar-toggle-container {
  flex-shrink: 0;
  padding: 1rem 0.5rem;
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
}

#sidebarToggle {
  color: #dfd0b8;
}

.hamburger-icon {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  width: 220px;
  padding: 1rem;
  flex-shrink: 0;
  transition: margin-left 0.3s ease-in-out;
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
}

.sidebar-header h2 {
  font-size: 1.1rem;
  margin: 0;
  color: #dfd0b8;
  border-bottom: 2px solid #dfd0b8;
  padding-bottom: 0.5rem;
}

.sidebar.closed {
  margin-left: -221px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar nav li a {
  display: block;
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  color: rgb(222, 137, 0);
  border-radius: 15px;
  text-align: center;
}
.sidebar nav li a:hover {
  background-color: rgba(150, 135, 113);

  /* Adds a slight shift to make it feel interactive */
  transform: translateX(5px);
  transition: transform 0.2s ease;

  box-shadow: 0 0 10px rgba(150, 135, 113, 0.5), 0 0 3px rgba(0, 0, 0, 0.1);
  color: #000;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/*                     Headers                                          */

.main-content {
  flex-grow: 1;
  padding: 1rem 2rem;
  max-width: 1400px;
  /* main css that makes content centered */
  margin: 0 auto;
}

.main-content h1 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  padding-top: 1rem;
  color: #dfd0b8;
}
