body {
  background-color: #ffd04f;
  background-color: #d8ad36;
  background-color: #d4d4d8;
  background-color: #fef08a;
  --color-background-2: #2a273f;
  --color-background-2: #d430c9;
  --color-background-2: #7cdfec;
  --color-background-2: #7292eb;
  --color-background-2: #c4a7e7;
  --color-background-2: #eb6f92;
  --color-background-2: #cc0c05;
  --color-background-2: #f6c177;
  --color-background-2: #565454;
  --color-background-2: #000000;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  font-size: 40pt;
}
