/* ---            MAIN CONTENT               --- */

.main-content h1 span {
  font-size: 0.9rem;
  color: #777;
  font-weight: normal;
}

.main-content h2 {
  color: #e67e22;
}

/* centers all text */
.main-content p,
.main-content h3,
.social-links {
  text-align: center;
}
.social-links {
  text-decoration: none;
}

/* ---            NEW STYLES FOR ABOUT PAGE           --- */

.about-description {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 3rem;
  max-width: 900px;
  margin: 0 auto 3rem;
  color: #dfd0b8;
}

.team-section {
  border: 2px solid #ccc;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 3rem;
  margin-top: 2rem;
  flex-grow: 1;

  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.team-section h2 {
  font-size: 1.8rem;
  text-align: center;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.team-section > p {
  /* Target the subtitle */
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  color: #dfd0b8;
  font-size: 1.1rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;

  max-width: 800px;
  margin: 0 auto;
}

.team-member h3 {
  font-size: 1rem;
  color: #e67e22;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 0.5rem;
  border-radius: 10px;
}

.team-member .name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #fefefe;
}
/* main team member area */
.team-member .social-links {
  list-style: none;
  padding: 0;
  margin: 0;

  text-decoration: none;
}
.team-member #social1:hover,
.team-member #social2:hover {
  text-decoration: underline;
}
/* link */
.team-member .social-links a {
  text-decoration: none;
  color: #1a73e8;
}

/* secondary line */
.team-member .social-links li {
  color: #1a73e8;
  margin-bottom: 0.5rem;
}

.more_links h2 {
  border-bottom: 40px;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.social-btn {
  text-decoration: none;
  border-radius: 30px;
  border: 1.5px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;
  color: white;
  width: 180px;
  font-weight: bold;
  transition: transform 0.2s;
}

.social-btn:hover {
  transform: scale(1.05);
}

/*                     individual socials               */

.yt {
  background-color: red;
}

.insta {
  background-color: #dd2a7b;
  color: #feda77;
}

.spotify {
  background-color: #191414;
  color: #1ed760;
}

.apple {
  background-color: #ff4e6b;
}
