#sidebarToggle {
  color: #dfd0b8;
}

.sidebar-toggle-container {
  flex-shrink: 0;
  padding: 1rem 0.5rem;
  position: sticky;
  top: 80px; /* Aligns right under your header */
  height: calc(100vh - 80px);
}

#sidebarToggle {
  color: #dfd0b8;
}

.hamburger-icon {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  width: 220px;
  padding: 1rem;
  flex-shrink: 0;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 80px);
  overflow-y: auto;
  background: transparent;
}

.sidebar.closed {
  margin-left: -221px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
}

.sidebar-header h2 {
  font-size: 1.1rem;
  margin: 0;
  color: #dfd0b8;
  border-bottom: 2px solid #dfd0b8;
  padding-bottom: 0.5rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li a {
  display: block;
  padding: 0.75rem 0.5rem;
  text-decoration: none;
  color: rgb(222, 137, 0);
  border-radius: 15px;
  text-align: center;
}

.sidebar nav li a:hover,
.sidebar nav li a.active {
  background-color: rgba(150, 135, 113);
  transform: translateX(5px);
  transition: transform 0.2s ease;
  box-shadow:
    0 0 10px rgba(150, 135, 113, 0.5),
    0 0 3px rgba(0, 0, 0, 0.1);
  color: #000;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
