<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projects/Prez-Perm/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /projects/Prez-Perm/index.html [L]
</IfModule>