.home {
  margin: 2rem auto;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: (0.6);
  border: 1px solid (0.9);

  padding: 3rem 1.5rem;
  text-align: center;

  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(222, 137, 0);
  text-decoration: none;
  border-radius: 16px;
  width: 180px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.home:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.home a {
  text-decoration: none;
}
