/*                     Headers                                          */

.main-content {
  flex-grow: 1;
  padding: 1rem 2rem;
  max-width: 1400px;
  /* main css that makes content centered */
  margin: 0 auto;
}

.main-content h1 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  padding-top: 1rem;
  color: #dfd0b8;
}

/*                     Video Grid - Same as before, just moved to center */
.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.grid-item {
  /* GLASS EFFECT START */

  background: (0.6);
  border: 1px solid (0.9);
  /* GLASS EFFECT END */

  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 1.2rem;

  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(222, 137, 0);
  text-decoration: none;
  border-radius: 16px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.home-grid .grid-item:nth-child(7) {
  grid-column-start: 2;
}
